*{
    margin: 0;
}
.main{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 2rem;
    background-image: url('./Home.jpg');
    padding: 100px;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size:  100%;
    background-position: center;
    background-attachment: fixed;
}

.contain{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(190,190,190,0.6);
    border: 2px solid;
    border-radius: 10%;
    width: 550px;

}

.boton{
    height: 50px;
    border: 1px solid black;
    font-family: cursive;
    background-color: rgba(224, 239, 21, 0.4);
    border-radius: 5px;
    margin: 30px;
    width: 150px;
}

.boton:hover{
    background-color: rgba(231, 239, 17, 0.9);
    border: 3px solid black;
}

.title{
    font-size: 30px;
    font-family: cursive;
    margin-bottom: 20px;
}

.description{
    font-size: 25px;
    font-family: cursive;
    color: azure;
}