.SearchBar {
  display: flex;
  background-color: rgba(230, 230, 230, 0.4);
  align-items: center;
  width: 330px;
  height: 45px;
  margin: 5px;
  border: 1px solid black;
  border-radius: 5px;
}

.boton {
  height: 32px;
  width: 90px;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 2px 2px 20px rgba(40, 40, 40);
  background-color: rgba(200, 200, 200, 0.6);
  font-family: cursive;
}

.boton:hover {
  box-shadow: 3px 3px 20px 4px;
  background-color: rgb(220, 220, 220);
}

.input {
  height: 30px;
  width: 200px;
  margin: 12px;
  border: 2px solid black;
  border-radius: 5px;
  font-family: cursive;
}
